body {
    background: #faf8ef;
}

#id-title {
    font-size: 55px;
    color: #776e65;
}

.cell {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #d0bfb6;
    margin-right: 12px;
    border-radius: 3px;
}

.cell:last-child {
    margin-right: 0px;
}

#id-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#id-message p{
    font-size: 50px;
    color: rgb(119, 110, 101);
}

#id-message div {
    font-size: 20px;
    width: 115px;
    height: 60px;
    text-align: center;
    line-height: 57px;
    background-color: rgb(119, 110, 101);
    color: #eeeeee;
    border-radius: 6px;
}

.message-show {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 1;
    background: rgba(187, 173, 160, 0.7);
    animation: appear 1000ms ease backwards;
}


#id-map {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
}

#id-game {
    padding: 12px;
    border-radius: 6px;
    background: #bbada0;
    position: relative;
    user-select: none;
}

#id-grid {
    position: absolute;
    display: inline;
    z-index: 2;
}

.row {
    display: inline-flex;
    margin-bottom: 12px;
}

.row:last-child {
    margin-bottom: 0px;
}

.grid {
    position: absolute;
    width: 80px;
    height: 80px;
    font-size: 35px;
    font-weight: 700;
    transition: transform 100ms ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes pop {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

.grid-inner {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.grid-new .grid-inner {
    animation: appear 200ms ease 100ms backwards;
}

.grid-merged .grid-inner {
    animation: pop 200ms ease 100ms backwards;
}