
.position-0-0 {
    transform: translate(0px, 0px);
}

.position-0-1 {
    transform: translate(92px, 0px);
}

.position-0-2 {
    transform: translate(184px, 0px);
}

.position-0-3 {
    transform: translate(276px, 0px);
}

.position-1-0 {
    transform: translate(0px, 92px);
}

.position-1-1 {
    transform: translate(92px, 92px);
}

.position-1-2 {
    transform: translate(184px, 92px);
}

.position-1-3 {
    transform: translate(276px, 92px);
}

.position-2-0 {
    transform: translate(0px, 184px);
}

.position-2-1 {
    transform: translate(92px, 184px);
}

.position-2-2 {
    transform: translate(184px, 184px);
}

.position-2-3 {
    transform: translate(276px, 184px);
}

.position-3-0 {
    transform: translate(0px, 276px);
}

.position-3-1 {
    transform: translate(92px, 276px);
}

.position-3-2 {
    transform: translate(184px, 276px);
}

.position-3-3 {
    transform: translate(276px, 276px);
}
